<% include partials/header %>
<form method="POST" action="/login">
  <label>Add an item</label><br>
  <input type="text" name="content" placeholder="Write something..."><br>
  <input type="text" name="child type" placeholder="Retweet or reply"><br>
  <input type="submit" value="Post" />
</form>
<% include partials/footer %>