<% include partials/header %>
<form method="POST" action="/item/:itemID">
    <label>Item Search</label><br>
    <input type="text" name="timestamp" placeholder="timestamp"><br>
    <input type="text" name="limit" placeholder="25"><br>
    <input type="submit" value="Search"/>
</form>
<% include partials/footer %>