<% include partials/header %>
<% if(id){ %>
<h1>Item ID : <%= id %></h1>
<% } %>
<form method="POST" action="/additem">
    <label>Add item</label><br>
    <input type="text" name="content" placeholder="Write something..."><br>
    <input type="text" name="childType" placeholder="retweet or reply"><br>
    <input type="submit" value="Post" />
</form>
<% if(item){ %>
<h1>Item : <%= item %></h1>
<% } %>
<form method="GET" onsubmit="get_action(this);">
    <label>Get item</label><br>
    <input type=" text" id="id" name="id" placeholder="item id"><br>
    <input type="submit" value="Search" />
</form>
<form method="POST" action="/search">
    <label>Item Search</label><br>
    <input type="text" name="timestamp" placeholder="timestamp"><br>
    <input type="text" name="limit" placeholder="25"><br>
    <input type="submit" value="Search" />
</form>


<form method="GET" action="/logout">
    <input type="submit" value="logout" />
</form>
<script type="text/javascript">
    function get_action(form) {
        form.action = 'item/' + document.getElementById("id").value;
    }
</script>
<% include partials/footer %>