<% include partials/header %>
<form method="POST" action="/login">
  <label>User Login</label><br>
  <input type="text" name="username" placeholder="User Name"><br>
  <input type="text" name="password" placeholder="Password"><br>
  <input type="submit" value="Login" />
</form>
Don't have an account? <a href="/adduser">Sign up here</a>
<% include partials/footer %>