<% include partials/header %>
<form method="POST" action="/verify">
    <label>Verify</label><br>
    <input type="text" name="email" placeholder="Email"><br>
    <input type="text" name=key placeholder="Key"><br>
    <input type="submit" value="Verify"/>
</form>
<% include partials/footer %>